{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-len": ["error", 120, 4],
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/media-has-caption": [0],
    "react/forbid-prop-types": [0],
    "react/prefer-stateless-function": [0],
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "VIEWLY_OPTIONS": true
  }
}
