body, html {
    font-size: 14px;
    font-weight: 400;
    font-family: $text-font-family;
    margin: 0;
}

// BOX-SIZING
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
