//FONTS
$text-font-family: 'Roboto', sans-serif;

//COLOR
$primary: #0061e6;
$gray: #59575c;
$lightest-gray: #f9f9f9;
$light-gray: #d8d8d8;
$green: #3FA981;
$orange: #FFB400;

//GRID
$base-padding: 8px;

//SIZES
$control-bar-height: 40px;
$card-size: 56px;
$card-full-width: 285px;
$card-full-height: 96px;

//BORDERS
$base-border-radius: 2px;


//TRANSITIONS
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
